<section class="content-header">
</section>
<section class="content">
  <div class="jumbotron">
    <h2>Pedido Conluído</h2>
    <h3 class="text-bold text-center text-danger">Pedido Nº. {{ orderId }}</h3>
    <p>Seu pedido foi recebido pelo restaurante. Prepare a mesa que a comida está chegando!</p>
    <p><b>Avalie</b> sua experiência:</p>
    <mt-rating (rated)="rate()"></mt-rating>
    <p *ngIf="rated">
      Obrigado pela sua avaliação!
    </p>
  </div>

</section>