<!doctype html>
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Seus Dados:</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <span *ngIf="orderForm.hasError('emailsNotMatch')" class="help-block pull-right has-error-block"><i class="fa fa-remove"></i> Email´s não conferem</span>
            </div>
            <div class="col-sm-6 col-xs-12">
                <mt-input-component errorMessage="Campo obrigatório e com 5 caracteres" label="nome">
                    <input class="form-control" 
                           formControlName="name" 
                           autocomplete="off"
                           placeholder="Nome">
                  </mt-input-component>
            </div>
            <div class="col-sm-3 col-xs-6">
                <mt-input-component errorMessage="E-mail inválido" label="E-mail">
                    <input type="text" class="form-control" 
                           placeholder="E-mail"
                           formControlName="email" 
                           autocomplete="off">
                </mt-input-component>
            </div>
            <div class="col-sm-3 col-xs-6">
                <mt-input-component errorMessage="E-mail inválido" label="E-mail">
                    <input type="text" class="form-control" 
                           placeholder="Confirmação do E-mail"
                           formControlName="emailConfirmation"
                           autocomplete="off">
                </mt-input-component>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
             
              <mt-input-component errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
                <input class="form-control" 
                       formControlName="address" 
                       placeholder="Endereço">
              </mt-input-component>

            </div>
            <div class="col-sm-3 col-xs-6">

              <mt-input-component errorMessage="Obrigatório e somente número" label="Número">
                  <input type="text" class="form-control" 
                         placeholder="Número"
                         formControlName="number"
                         autocomplete="off">
              </mt-input-component>
              
            </div>
            <div class="col-sm-3 col-xs-6">

              <mt-input-component>
                  <input type="text" class="form-control" 
                       formControlName="optionalAddress"
                       placeholder="Complemento">
              </mt-input-component>

            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
              <mt-order-items 
                [items]="cartItems()" 
                (increaseQty)="increaseQty($event)"
                (decreaseQty)="decreaseQty($event)"
                (remove)="remove($event)">                
              </mt-order-items>
          </div>

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">                   
                  <mt-radio [options]="paymentOptions" 
                            formControlName="paymentOption" 
                            erroMessage="Campo obrigatório"
                            label="Forma pagaemnto">
                  </mt-radio>
                </div>

            </div>
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()">

              </mt-delivery-costs>
              
            </div>
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right fa fa-credit-card" 
                    [disabled]="!orderForm.valid || cartItems().length === 0">
                Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>