<!doctype html>
<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div *ngIf="!items().length">
      <p class="text-center text-red text-bold">Seu carrinho está vazio. Aproveite as promoções!</p>
    </div>
    <div class="table-responsive" *ngIf="items().length">
        <table class="table">
          <thead>
            <th scope="col">Qtd</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">#</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of items()" [@row]="rowState"> 
              <th scope="row">{{item?.quantity}}</th>
              <td>{{ item?.menuItem.name }}</td>
              <td>{{ item?.value() | currency : 'BRL' : true }}</td>
              <td>
                <a (click)="removerItem(item)" class="bt btn-sm danger"><i class="fa fa-remove"></i></a>
              </td>
            </tr>
            <tr>
              <th scope="row">Total:</th>
              <td></td>
              <td>{{ total() | currency : 'BRL' : true}}</td>
            </tr>
          </tbody>
      </table>
      </div>
  </div>
  <div class="box-footer" *ngIf="items().length">
    <div class="pull-right">
      <button type="button" class="btn btn-danger" (click)="clear()"><i class="fa fa-trash"></i> Limpar</button>
      <a [routerLink]="['/order']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    </div>
  </div>
</div>