<p><i *ngFor="let r of rates" 
      class="fa text-green" 
      [class.fa-star]="r <= rate"
      [class.fa-star-o]="r > rate"
      (click)="setRate(r)"
      (mouseenter)="setTemporaryRate(r)"
      (mouseleave)="clearTemporaryRate()">
  </i></p>